* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	font-family: "MontserratRegular";
	background-color: blue;
}

header {
    z-index: 1000;
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    flex-direction: row;
	align-items: center;
    justify-content: left;
    padding-left: 50px;
    border: none;
}

.navigation-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-menu li {
    display: inline-block; /* Элементы списка в строку */
    margin-right: 40px;
}

.navigation-menu li:last-child {
    margin-right: 0;
}

.navigation-menu li a {
    color: silver;
    text-decoration: none;
}

.content {
    height: 90%;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
}
  
footer {
    height: 20%;
	display: none;
    background-color: black;
    color: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* input[type="color"] {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

input[type="color"]::-webkit-color-swatch {
	width:  30px;
	height: 100%;
	border: none;
	border-radius: 4px;
	background-color: transparent;
} */

/* .command-button {
	outline: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 60px;
	height: 20px;
	background-color: #35393b;
	border: 1px solid #3d3d3f;
	color: silver;
	border-radius: 14px;
	font-family: "MontserratRegular";
	font-size: 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease-in;
  }
  
  .command-button:hover {
	background-color: #3f4345;
	color: white;
  }
  
  .command-button:active {

  } */