* {
	font-family: "MontserratRegular";
}

html {
	color: var(--text-color);
	user-select: none;
}

#main-panel {
	width: 100%;
	height: 25%;
	/* padding-left: 2%; */
	/* padding-right: 2%; */
	background-color: var(--panel-color);
	display: flex;
	flex-direction: column;
}

#view-area {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	background-color: var(--workspace-color);

	#bitmap-container, #vector-container {
		height: 100%;
		width: 50%;
		position: relative;
		overflow: hidden;
	}

	#bitmap-container {
		border-right: 1px solid transparent;
	}
}

input[type="file"] {
	display: none;
}

input[type="color"] {
	/* display: none; */
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

input[type="range"] {
	display: flex;
	width: 6vw;
	height: 1vw;
	-webkit-appearance: none;
	appearance: none;
	background: black;
	border-radius: 1vw;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.1vw;
	height: 1.1vw;
	border-radius: 1vw;
	border-color: gray;
	border-style: solid;
	border-width: 0.3vw;
	transition: border-width 0.1s ease;
	background: whitesmoke;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
	border-width: 0.2vw;
}

input[type="range"]::-webkit-slider-thumb:active {
	border-width: 0.4vw;
}

.slider {
	width: 10vw;
	height: 2vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;

	input[type="range"] {
		width: 8vw;
	}

	span.span-value {
		width: 2vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.slider-with-title {
	width: 14vw;
	height: 2vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;

	span.slider-title {
		display: flex;
		align-items: center;
		justify-content: left;
		width: 4vw;
	}

	input[type="range"] {
		width: 8vw;
	}

	span.span-value {
		width: 2vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.square-element {
	border: none;
	outline: none;
	margin-right: 0.5vw;
	width: 2vw;
	height: 2vw;
	aspect-ratio: 1/1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: "MontserratRegular";
}

.color-picker {
	width: 2vw;
	height: 2vw;
	border: solid 0.3vw silver ;
	border-radius: 50%;
}

.button {
	background-color: transparent;
	color: var(--text-color);
	border: 1px solid var(--stroke-button-color);
	font-size: 0.8em;
	/* border-radius: 50%; */
	transition: font-size 0.1s ease-out;

	img {
		width: 80%;
		height: 80%;
		transition: width 0.15s ease, height 0.15s ease;
	}
}

.button:hover {
	font-size: 1em;

	img {
		width: 90%;
		height: 90%;
	}
}

.button:active {
	font-size: 0.8em;

	img {
		width: 70%;
		height: 70%;
	}
}

.rect-button {
	width: 6vw;
	height: 1.5vw;
	line-height: 2vw;
	border-radius: 2vw;
	font-size: 1em;
	/* border: solid 1px var(--border-button-color); */
	/* background-color: var(--grayblue-color); */
	background-color: black;
	color: var(--text-color);
	transition: font-size 0.1s ease-out;
}

.rect-button:hover {
	font-size: 1.1em;
}

.rect-button:active {
	font-size: 0.9em;
}

.color-picker-container {
	position: relative;

	label {
		position: relative;
		z-index: 1;
	}
}

#palette-panel {
	width: 100%;
}

.palette-color-item{
	height: 2vw;
	width: 2vw;
	aspect-ratio: 1/1;
	border-radius: inherit;
	background-color: red;
}

.palette-color-item:hover{
	border: solid 2px var(--panel-color);
}

#color-scroll {
	list-style-type: none;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;

	li{
		width: auto;
		height: auto;
		aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	li:last-child{
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
	}

	li:first-child{
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
}

#bitmap-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	background-color: transparent;
	image-rendering: pixelated;
	display: block;
}

#bitmap-vector-layer-container {
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	background-color: blue;
	display:block;
}

#bitmap-vector-layer {
	display: block;
	width: auto;
	height: auto;
	background-color: transparent;
	z-index: 1;
	pointer-events: none;
}

#svg-container {
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	background-color: transparent;
	display:block;
}

.zoomable {
	overflow: hidden;
	position: absolute;
	transform-origin: 0 0;
	object-fit: cover;
	object-position: center center;
}

svg {
	display: block;
	/* width: 100%;
	height: 100%;
	margin: 0;
	padding: 0; */
}

#pallete-picker-tool-cursor{
	user-select: none;
	width: 20px;
	height: 20px;
	cursor: none;
	display: none;
	position: fixed;
	background-color: transparent;
	pointer-events: none;
	transform: translate(0, -75%);

	img{
		width: 20px;
		height: 20px;
	}
}

#pallete-picker-tool-cursor.active {
	display: block;
	z-index: 1000;
}

#brush-size-cursor {
	cursor: none;
	display: none;
	position: fixed;
	width: 20px;
	height: 20px;
	/* border-radius: 50%; */
	background-color: transparent;
	border: 1px solid dimgray;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: width 0.2s, height 0.2s;
}
  
#brush-size-cursor.active {
	display: block;
	z-index: 1000;
}

#crop-cursor {
	user-select: none;
	width: 20px;
	height: 20px;
	cursor: none;
	display: none;
	position: fixed;
	background-color: transparent;
	pointer-events: none;
	transform: translate(0, -75%);

	img{
		width: 20px;
		height: 20px;
	}
}

#crop-cursor.active {
	display: block;
	z-index: 1000;
}

.row {
	padding-left: 2%;
	padding-right: 2%;
	width: auto;
	height: calc(100%/3);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

#add-color-button, #pallete-picker-tool-button, #brush-tool-button, #crop-tool-button {
	/* background-color: var(--grayblue-color); */
	background-color: transparent;
	color: var(--text-color);
}

#io-row {
	background-color: transparent;
}

#palette-row {
	width: auto;
	border: none;
	padding-left: 2%;
}

#load-container {
	display: none;
	position: fixed;
	width: 50%;
	height: 65%;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;

	#load {
		display: none;
		position: fixed;
		pointer-events: none;
		width: 10vh;
		height: 10vh;
	}
}

path.hover-enabled:hover {
	fill: red;
	stroke: red;
}

path {
	transition: fill 0.2s ease, stroke 0.2s ease;
}

.toggle-button {
	border: none;
	outline: none;
	border-radius: 6vw;
	font-family: "MontserratRegular";
	line-height: 1.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6vw;
	height: 1.5vw;
	font-size: 1em;
	background-color: black;
	color: silver;
	transition: font-size 0.1s ease-out, background-color 0.2s ease-out;
}

.toggle-button.on {
	background-color: whitesmoke;
	color: black;
}

.toggle-button:hover {
	font-size: 1.1em;
}

.toggle-button:active {
	font-size: 0.9em;
}

#linear-mode-button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#curve-mode-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}